body{
    background-color: #FEDEAA;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
}

.main{
    background-color: #FFF1DB;
    width: 70%;
    height: 75%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

h2{
    text-align: center;
    width: 35%;
    padding: 3%;
    color: #FE9B01;
    margin: auto;
    font-size: 2rem;
}

.review-section{
    margin-top: 3%;
    display: flex;
    justify-content: center;
    user-select:none; /*  Prevents selection of child element texts */
}

.review{
    align-items: center;
    justify-content: center;
    padding: 1%;
    display: flex;
    background-color: #FFFEFE;
    width: 55%;
    margin: auto;
    height: 30%;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

img{
    border-radius: 50%;
    width: 17%;
    margin-right: 5%;
    margin-left: 5%;
}

#identity{
    color: #FEA519;
}

.review-section{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#previous{
    position: absolute;
    left: 14%;
}

#next{
    position: absolute;
    right: 14%;
}

i{
    color: #CBB698;
}

.slider-control{
    font-size: 2em;
    transition: 200ms;
}

.slider-control:hover{
    font-size: 2.5em;
}

.slider-address{
    width: 11%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 3%;
}

.slider-address i{
    font-size: 0.8em;
}

.selected{
    color: #FE9B01;
}

@media (max-width:900px){
    h2{
        font-size: 1.8rem;
        width: 80%;
       
    }

    .main{
        background-color: #FFF1DB;
        width: 99%;
        height: 70%;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
    }

    .review-section{
        margin-top: 0%;
        display: flex;
        height: 73%;
        justify-content: center;
        user-select:none; /*  Prevents selection of child element texts */
    }

    .review{
        flex-direction: column;
        height: 90%;
        border-radius: 15px;
        font-size: 1rem;
        width: 70%;
        font-size: 1.3rem;
        padding: 0 15px 0 15px;
    }

    img{
        border-radius: 50%;
        width: 52%;
        margin-right: 5%;
        margin-left: 5%;
        margin-bottom: 10px;
    }

    #previous{
        left: 2%;
    }
    
    #next{
        right: 2%;
    }

    .slider-address{
        width: 20%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        padding-top: 5%;
    }
}